#about {
	padding: 0px 20px 50px 20px;
	text-align: center; 
	> p, h1 {
		text-align: left;
	}
	img {
		display: block;
		margin: 0px auto 25px auto;
		width: 90%;
	}
	a.about-links {
		display: inline-block;
		text-align: center;
		width: 110px;
		margin: 0px 5px 25px;
		color: #fff;
		border-radius: 5px;
		padding: 10px 15px;
		text-decoration: none;
		background-color: rgba(64,189,206,0.8);
		transition: all 0.3s ease-out;
		&:hover {
			background-color: rgba(11,111,124,0.9);
		} 
	}
	.bio-head {
		text-align: center;
		margin-bottom: 1.5em;
		line-height: 1.5em;
		transition: all 0.3s ease;
	}
	#location {
	> p {
		text-align: left;
	}
	> h1 {
		text-align: left;
	}
	}
	#hours {
	> p {
		text-align: left;
	}
	> h1 {
		text-align: left;
	}
	}
	#pricing {
	> p {
		text-align: left;
	}
	> h1 {
		text-align: left;
	}
	}
}

@media screen and (min-width: 681px) {
	#about {
		width: 100%;
		max-width: 1100px;
		margin: 40px auto;
		padding: 0px 20px 40px 20px;
		h1.bio-head {
			text-align: left;
		} 
		img {
			width: 100%;
			max-width: 350px;
			float: left;
			margin: 0px 30px 10px 0px;
		}
	}
}

@media screen and (max-width: 450px ) {
	#about .bio-head {
		font-size: 1.2em;
	}
	#about a.about-links {
		width: 30%;
		margin: 0px 2px 15px;
	}
}